.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: #fff;
    margin-top: auto;
    padding: 1em;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}